---
import { Badge } from "./ui/badge";
---

<div class="p-5 bg-secondary rounded-xl relative">
  <div class="flex justify-between">
    <div class="grow">
      <h3 class="text-xl">Full Stack Developer</h3>
      <h4 class="text-primary text-xs">Allcom Telecom</h4>
    </div>
    <div class="text-xs">2024 ——— 2025</div>
  </div>
  <p class="opacity-70 mt-3 text-sm">
    Atuando no desenvolvimento de soluções internas e externas, com foco em
    qualidade e boas práticas, sendo responsavel por projetar e desenvolver
    softwares para uso interno e para parceiros comerciais da empresa. ;
  </p>
</div>

<div class="p-5 bg-secondary rounded-xl mt-3 relative">
  <div class="flex justify-between">
    <div class="grow">
      <h3 class="text-xl">Front-End Developer</h3>
      <h4 class="text-primary text-xs">Agência Alldigital</h4>
    </div>
    <div class="text-xs">2022 ——— 2024</div>
  </div>
  <p class="opacity-70 mt-3 text-sm">
    Atuando prinicipalmente no desenvolvimento de websites totalmente
    responsivos, criando interfaces otimizadas para diferentes dispositivos e
    navegores utilizando HTML, CSS, JavaScript e Bootstrap
  </p>
</div>
