---
import "../styles/global.css";
---

<!doctype html>
<html lang="pt-BR">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Ygor Calimanis - Full Stack Developer</title>
		<link rel="shortcut icon" href="/portfolio/profile.jpg" type="image/jpeg">
	</head>
	<body class="bg-primary pt-32">
		<slot />
		<section class="mt-32 pb-6 text-center">
			<p class="opacity-70 text-xs">
				Copyright &copy; 2025 Ygor Calimanis. All rights reserved.
			</p>
		</section>
	</body>
</html>
